.gloablNav {
  align-self: stretch;
}
.continue {
  position: relative;
  line-height: 24px;
}
.chevronIcon {
  height: 12px;
  width: 12px;
  position: relative;
}
.backParent,
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  background-color: var(--color-spring-green-21);
  border: 2px solid var(--color-spring-green-21);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-3xl);
  gap: var(--item-spacing-xxs);
  min-width: var(--width-100);
}
.button:hover {
  background-color: var(--color-seagreen-100);
  border: 2px solid var(--color-seagreen-100);
}
.backParent {
  width: 100%;
  justify-content: space-between;
  max-width: 1020px;
  gap: var(--gap-xl);
}
.button:hover,
.main {
  box-sizing: border-box;
}
.main {
  padding: 0 var(--padding-293xl) 0 var(--padding-89xl);
  text-align: center;
  font-size: var(--mortgagessecurelloydsbankcouk-inter-bold-18-size);
  color: var(--color-white-solid);
  font-family: var(--footer);
}
.container,
.main {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.footerLinks {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
}
.footer,
.mortgageScreen3Final {
  display: flex;
  align-items: center;
}
.footer {
  align-self: stretch;
  background-color: var(--mortgagessecurelloydsbankcouk-sherwood-green);
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-5xl) var(--padding-101xl);
  gap: 0 24px;
}
.mortgageScreen3Final {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-45xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--footer-size);
  color: var(--color-white-solid);
  font-family: var(--footer);
}
@media screen and (max-width: 1050px) {
  .backParent {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .main {
    padding-left: var(--padding-35xl);
    padding-right: var(--padding-137xl);
    box-sizing: border-box;
  }
  .container,
  .main {
    gap: var(--gap-base);
  }
  .mortgageScreen3Final {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .backParent {
    flex-wrap: wrap;
  }
  .main {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .mortgageScreen3Final {
    gap: var(--gap-base);
  }
}
