.root,
.selection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selection {
  height: 24px;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-family: "Lloyds Bank Jack Web", sans-serif;
  color: #006a4d;
  text-align: center;
}
.root {
  cursor: pointer;
  border: 1px solid #535353;
  padding: 8px 40px;
  background-color: #ffffff;
  height: 48px;
  box-sizing: border-box;
  flex-direction: row;
  min-height: 48px;
  width: 100%;
}
.root[data-button-state="Error"] {
  border: 1px solid #e52b50;
}
.root[data-selected="true"] {
  background-color: #006a4d;
}
.root[data-selected="true"] .selection {
  color: #ffffff;
}
